body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    height: 100%;
}

h1 {
    color: green;
}

form {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
}

/* Center the form horizontally and vertically */
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    position: sticky;
    top: 0;
}

.header-links {
    display: flex;
}

.header-links a {
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
}