<!DOCTYPE html>
<html lang="en">

<head>
  <title>Users Bank page</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bank.css') }}">
</head>

<body>
  <div class="app">
    <header class="app-header">
      <div class="app-header-logo">
        <div class="logo">
          <span class="logo-icon">
            <img src="https://assets.codepen.io/285131/almeria-logo.svg" />
          </span>
          <h1 class="logo-title">
            <span>Adorsys</span>
            <span>Bank</span>
          </h1>
        </div>
      </div>
      <div class="app-header-navigation">
        <div class="tabs">
        </div>
      </div>
      <div class="app-header-actions">
        <button class="user-profile">
          <td> {{ name }}</b></td>
          <span>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0e-9L-OuQW5Dqfbaqlpl84ptS0VWZbY1K_A&usqp=CAU" />
          </span>
        </button>
        <div class="app-header-actions-buttons">
          <button class="icon-button large">
            <i class="ph-magnifying-glass"></i>
          </button>
          <button class="icon-button large">
            <i class="ph-bell"></i>
          </button>
        </div>
      </div>
      <div class="app-header-mobile">
        <button class="icon-button large">
          <i class="ph-list"></i>
        </button>
      </div>
    </header>
    <div class="app-body">
      <div class="app-body-navigation">
        <nav class="navigation">
          <a href="/dashboard{{ account.account_number }}">
            <i class="ph-browsers"></i>
            <span>Dashboard</span>
          </a>
          <a href="/withdraw">
            <i class="ph-check-square"></i>
            <span>Withdraw</span>
          </a>
          <a href="/transfer">
            <i class="ph-swap"></i>
            <span>Transfers</span>
          </a>
          <a href="/deposit">
            <i class="ph-file-text"></i>
            <span>Deposite</span>
          </a>
          <a href="/history">
            <i class="ph-globe"></i>
            <span>History</span>
          </a>
          <a href="#">
            <i class="ph-clipboard-text"></i>
            <span>Settings</span>
          </a>
          <a href="/">
            <i class="ph-clipboard-text"></i>
            <span>logout</span>
          </a>
        </nav>
      </div>
      <div class="app-body-main-content">
        <section class="service-section">
          <h1>WELCOME TO ADORSYS ONLINE BANKING SYSTEM</h1>
          <div class="service-section-header">

          </div>
          <div class="mobile-only">
            <button class="flat-button">
              Toggle search
            </button>
          </div>
          <div class="tiles">
            <article class="tile">
              <div class="tile-header">
                <h3>
                  <span>Account Balance</span>
                  <br><br>
                  <td>{{ balance }}</td>
                </h3>
              </div>
              </a>
            </article>
            <article class="tile">
              <div class="tile-header">
                <h3>
                  <span>Number of account</span>
                  <br><br>
                  <span>1</span>
                </h3>
              </div>
              </a>
            </article>
            <article class="tile">
              <div class="tile-header">
                <h3>
                  <span>Account</span>
                  <br><br>
                  <span>Saving account</span>
                </h3>
              </div>
              </a></article>
          </div>
        </section>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/phosphor-icons"></script>
</body>

</html>